:root {
    --tbk-success: #28a745;
    --tbk-info: #007bff;
    --tbk-warning: #fd7e14;
    --tbk-error: #dc3545;
    --tbk-default: #6c757d;
}

.tbk-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: -10px;
    padding-inline: 10px;
    padding-block: 2.75px;
    font-size: 14px;
    line-height: 1.4;
}

.tbk-field:hover {
    background-color: var(--edition-lightblue-100); /* Prestashop theme color */
}

.tbk-field-name {
    font-weight: bold;
    margin-right: 8px;
}

.tbk-field-value {
    text-align: right;
    word-break: break-word;
}

.tbk-field-value.tbk-token {
    white-space: nowrap; 
    overflow: scroll;
    max-width: 80%;
}

.tbk-badge {
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: white
}

.tbk-badge-success {
    background-color: var(--tbk-success);
}

.tbk-badge-info {
    background-color: var(--tbk-info);
}

.tbk-badge-warning {
    background-color: var(--tbk-warning);
}

.tbk-badge-error {
    background-color: var(--tbk-error);
}

.tbk-badge-default {
    background-color: var(--tbk-default);
}