{% block content %}
<div >
    <h1>{{detail.title}}</h1>
    <ul>
        {% for key, item in detail.data %}
            <li><b>{{ item.label }}:</b> {{ item.value }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
