{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="tbk-plugin-config-widget"
        data-env="production"
        data-img="/modules/webpay/views/img"
        data-ecommerce="prestashop">
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('../modules/webpay/views/css/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/webpay/views/js/index.js') }}"></script>
{% endblock %}

