{% extends '@Modules/webpay/views/templates/admin/configure_layout.html.twig' %}

{% block tab %}
    {% include '@Modules/webpay/views/templates/admin/tabs.html.twig' with {'tabActive': 5} %}
    <div class="card">
        <div class="card-block row" style="padding: 20px;margin: 5px; overflow: auto; ">
            {{ content | raw }}
        </div>
        
    </div>
{% endblock %}
