.vscode
.idea

## OSX
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

## Linux
*~

## Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

webpay/vendor

plugin-prestashop-webpay-**

webpay/composer.lock



docker-prestashop1.7.8.5-php7.4/modules
docker-prestashop1.7.8.5-php7.4/prestashop

docker-prestashop1.7.3.0/modules
docker-prestashop1.7.3.0/prestashop

modules
modules/*